.color--red {
  color: #ff6961 !important; }

.color--green {
  color: #77dd77 !important; }

.color--blue {
  color: #8ad4ff !important; }

.color--yellow {
  color: #fdfd96 !important; }

.color--purple {
  color: #b19cd9 !important; }

.color--white {
  color: #ffffff !important; }

.color--black {
  color: #000000 !important; }
