.color {
  &--red {
    color: #ff6961 !important;
  }
  &--green {
    color: #77dd77 !important;
  }
  &--blue {
    color: #8ad4ff !important;
  }
  &--yellow {
    color: #fdfd96 !important;
  }
  &--purple {
    color: #b19cd9 !important;
  }
  &--white {
    color: #ffffff !important;
  }
  &--black {
    color: #000000 !important;
  }
}
